# Entornos virtuales
venv/
.env

# Archivos de configuración sensibles
*.env
*.env.*

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Archivos de logs
*.log

# Configuración de IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
*.pyc
Thumbs.db

# Railway
*.sqlite3

build/

# Ignorar los archivos de caché de pytest
.pytest_cache/
